# 01 Filter Multiple Criteria

In [1]:
import pandas as pd

In [2]:
# data = pd.read_csv('http://bit.ly/imdbratings')
# data.to_csv('../data/imdbratings.csv')
data = pd.read_csv('http://bit.ly/imdbratings', usecols=['title', 'genre'])
data.head()

                      title   genre
0  The Shawshank Redemption   Crime
1             The Godfather   Crime
2    The Godfather: Part II   Crime
3           The Dark Knight  Action
4              Pulp Fiction   Crime

In [3]:
data = pd.read_csv('http://bit.ly/imdbratings', nrows=5)
data.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [4]:
data = pd.read_csv('http://bit.ly/imdbratings', usecols=['title', 'genre'], nrows=5)
data.head()

                      title   genre
0  The Shawshank Redemption   Crime
1             The Godfather   Crime
2    The Godfather: Part II   Crime
3           The Dark Knight  Action
4              Pulp Fiction   Crime

# 02 Data Frames and Series

In [6]:
for i in data.title:
    print(i)

The Shawshank Redemption
The Godfather
The Godfather: Part II
The Dark Knight
Pulp Fiction

In [8]:
for index, row in data.iterrows():
    print(index,row.title, row.genre)

0 The Shawshank Redemption Crime
1 The Godfather Crime
2 The Godfather: Part II Crime
3 The Dark Knight Action
4 Pulp Fiction Crime