# 03 Axis Parmeter

In [1]:
import pandas as pd

In [6]:
# data = pd.read_csv('http://bit.ly/imdbratings')
# data.to_csv('../data/imdbratings.csv')
data = pd.read_csv('http://bit.ly/imdbratings',)
data.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [13]:
data.mean()

<ipython-input-13-abc01cf6c622>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()

star_rating      7.889785
duration       120.979571
dtype: float64

In [20]:
data.mean(axis=0)

<ipython-input-20-02762784858d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean(axis=0)

star_rating      7.889785
duration       120.979571
dtype: float64

In [21]:
data['duration'].mean(axis=0)

120.97957099080695

In [30]:
data.mean(axis=1)

<ipython-input-30-5eb54172de3f>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean(axis=1)

0       75.65
1       92.10
2      104.55
3       80.50
4       81.45
        ...
974     61.70
975     62.70
976     72.70
977     60.70
978     66.70
Length: 979, dtype: float64