# 06 Changing the Data Types

In [7]:
import pandas as pd

In [24]:
data = pd.read_table('http://bit.ly/chiporders')
data.to_csv('../data/chiporders.csv')
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [12]:
data.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [16]:
data.item_price.str.replace('$', '').astype(float).mean()

<ipython-input-16-1b219a1a93ca>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data.item_price.str.replace('$', '').astype(float).mean()

7.464335785374397

In [23]:
data.item_name.str.contains('and').astype(int).head()

0    1
1    0
2    0
3    1
4    0
Name: item_name, dtype: int64