# 06 Group by Fucntions

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('http://bit.ly/imdbratings')
data.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [5]:
data.groupby('genre').duration.mean()

genre
Action       126.485294
Adventure    134.840000
Animation     96.596774
Biography    131.844156
Comedy       107.602564
Crime        122.298387
Drama        126.539568
Family       107.500000
Fantasy      112.000000
Film-Noir     97.333333
History       66.000000
Horror       102.517241
Mystery      115.625000
Sci-Fi       109.000000
Thriller     114.200000
Western      136.666667
Name: duration, dtype: float64

In [8]:
data.groupby('genre').duration.agg(['min', 'median', 'max', 'count'])

           min  median  max  count
genre
Action      80   125.0  205    136
Adventure   89   127.0  224     75
Animation   75    94.5  134     62
Biography   85   127.0  202     77
Comedy      68   104.0  187    156
Crime       67   118.0  229    124
Drama       64   123.0  242    278
Family     100   107.5  115      2
Fantasy    112   112.0  112      1
Film-Noir   88    93.0  111      3
History     66    66.0   66      1
Horror      70   104.0  146     29
Mystery     69   115.0  160     16
Sci-Fi      91   113.0  132      5
Thriller   107   116.0  120      5
Western     85   135.0  175      9

In [9]:
data.groupby('genre').agg(['min', 'median', 'max', 'count'])

          star_rating                   duration
                  min median  max count      min median  max count
genre
Action            7.4   7.80  9.0   136       80  125.0  205   136
Adventure         7.4   7.90  8.9    75       89  127.0  224    75
Animation         7.4   7.90  8.6    62       75   94.5  134    62
Biography         7.4   7.80  8.9    77       85  127.0  202    77
Comedy            7.4   7.80  8.6   156       68  104.0  187   156
Crime             7.4   7.80  9.3   124       67  118.0  229   124
Drama             7.4   7.90  8.9   278       64  123.0  242   278
Family            7.8   7.85  7.9     2      100  107.5  115     2
Fantasy           7.7   7.70  7.7     1      112  112.0  112     1
Film-Noir         7.7   8.10  8.3     3       88   93.0  111     3
History           8.0   8.00  8.0     1       66   66.0   66     1
Horror            7.4   7.70  8.6    29       70  104.0  146    29
Mystery           7.4   8.10  8.6    16       69  115.0  160    16
Sci-Fi            7.7   7.90  8.2     5       91  113.0  132     5
Thriller          7.5   7.60  8.0     5      107  116.0  120     5
Western           7.6   8.30  8.9     9       85  135.0  175     9