# 14 Functions of iX Method

In [2]:
import pandas as pd

In [3]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry', index_col='country')
# drinks.to_csv('../data/drinksbycountry.csv')
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [5]:
drinks.ix['Algeria',2]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [6]:
drinks.ix['Andorra':'Bahamas', 0:3]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [10]:
drinks.iloc[1:4,2:5]

         wine_servings  total_litres_of_pure_alcohol continent
country
Albania             54                           4.9    Europe
Algeria             14                           0.7    Africa
Andorra            312                          12.4    Europe