# 15 Inspecting the Space

In [35]:
import pandas as pd

In [36]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry',)
# drinks.to_csv('../data/drinksbycountry.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [37]:
drinks.drop('total_litres_of_pure_alcohol', axis=1, inplace=True)

In [38]:
drinks.head()

       country  beer_servings  spirit_servings  wine_servings continent
0  Afghanistan              0                0              0      Asia
1      Albania             89              132             54    Europe
2      Algeria             25                0             14    Africa
3      Andorra            245              138            312    Europe
4       Angola            217               57             45    Africa

In [39]:
drinks.drop('wine_servings', axis=1, inplace=True)
drinks.drop('continent', axis=1, inplace=True)

In [40]:
drinks.head()

       country  beer_servings  spirit_servings
0  Afghanistan              0                0
1      Albania             89              132
2      Algeria             25                0
3      Andorra            245              138
4       Angola            217               57

In [41]:
# drinks.info(memory_usage='deep')
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          193 non-null    object
 1   beer_servings    193 non-null    int64
 2   spirit_servings  193 non-null    int64
dtypes: int64(2), object(1)
memory usage: 4.6+ KB

In [42]:
drinks.memory_usage()

Index               128
country            1544
beer_servings      1544
spirit_servings    1544
dtype: int64

In [43]:
drinks.memory_usage(deep=True)

Index                128
country            12588
beer_servings       1544
spirit_servings     1544
dtype: int64