# 27 Changing the Display Option

In [17]:
import pandas as pd

In [18]:
data = pd.read_csv('http://bit.ly/drinksbycountry')
pd.get_option('display.max_rows')

60

In [19]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_rows', None)
pd.reset_option('display.max_rows')

In [20]:
data

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa