# 31 Converting Data Frame

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.0'

In [3]:
df =  pd.DataFrame([[16,1,2017], [16,2,2017], [16,3,2017], [16,4,2017]], columns = ['day', 'month', 'year'])

In [4]:
df

   day  month  year
0   16      1  2017
1   16      2  2017
2   16      3  2017
3   16      4  2017

In [5]:
pd.to_datetime(df)

0   2017-01-16
1   2017-02-16
2   2017-03-16
3   2017-04-16
dtype: datetime64[ns]