# 01 Introduction to Azure Data Lake

In [1]:
import pandas as pd

In [7]:
df1 = pd.DataFrame([['TN', 'Chennai'], ['Telangana', 'Hyderabad'], ['Karnataka', 'Bangalore']], columns=['State', 'Capital'])

In [8]:
df1

       State    Capital
0         TN    Chennai
1  Telangana  Hyderabad
2  Karnataka  Bangalore

In [9]:
df2 = pd.DataFrame([['TN', 'Tamil'], ['Telangana', 'Telugu'], ['Karnataka', 'Kannada']], columns=['State', 'Language'])

In [10]:
df2

       State Language
0         TN    Tamil
1  Telangana   Telugu
2  Karnataka  Kannada

In [11]:
pd.merge(df1,df2, how="inner", on='State')

       State    Capital Language
0         TN    Chennai    Tamil
1  Telangana  Hyderabad   Telugu
2  Karnataka  Bangalore  Kannada