# 2 Merging Data Frames

In [8]:
import pandas as pd

In [9]:
df1 = pd.DataFrame([['TN', 'Chennai'], ['Telangana', 'Hyderabad'], ['Karnataka', 'Bangalore'], ['Delhi', 'Delhi']], columns=['State', 'Capital'])

In [10]:
df1

       State    Capital
0         TN    Chennai
1  Telangana  Hyderabad
2  Karnataka  Bangalore
3      Delhi      Delhi

In [13]:
df2 = pd.DataFrame([['TN', 'Tamil'], ['Telangana', 'Telugu'], ['Karnataka', 'Kannada'], ['MP', 'Hindi']], columns=['State', 'Language'])

In [14]:
df2

       State Language
0         TN    Tamil
1  Telangana   Telugu
2  Karnataka  Kannada
3         MP    Hindi

In [15]:
pd.merge(df1,df2, how="inner", on='State')

       State    Capital Language
0         TN    Chennai    Tamil
1  Telangana  Hyderabad   Telugu
2  Karnataka  Bangalore  Kannada

In [16]:
pd.merge(df1,df2, how="outer", on='State')

       State    Capital Language
0         TN    Chennai    Tamil
1  Telangana  Hyderabad   Telugu
2  Karnataka  Bangalore  Kannada
3      Delhi      Delhi      NaN
4         MP        NaN    Hindi

In [17]:
pd.merge(df1, df2, how="left", on='State')

       State    Capital Language
0         TN    Chennai    Tamil
1  Telangana  Hyderabad   Telugu
2  Karnataka  Bangalore  Kannada
3      Delhi      Delhi      NaN

In [18]:
pd.merge(df1,df2, how="right", on='State')

       State    Capital Language
0         TN    Chennai    Tamil
1  Telangana  Hyderabad   Telugu
2  Karnataka  Bangalore  Kannada
3         MP        NaN    Hindi

In [19]:
pd.merge(df1,df2, how="right", on='State', indicator=True)

       State    Capital Language      _merge
0         TN    Chennai    Tamil        both
1  Telangana  Hyderabad   Telugu        both
2  Karnataka  Bangalore  Kannada        both
3         MP        NaN    Hindi  right_only

In [20]:
pd.merge(df1,df2, how="left", on='State', indicator=True)

       State    Capital Language     _merge
0         TN    Chennai    Tamil       both
1  Telangana  Hyderabad   Telugu       both
2  Karnataka  Bangalore  Kannada       both
3      Delhi      Delhi      NaN  left_only

In [24]:
df1 = pd.DataFrame([['TN', 'Chennai', 'Tamil'], ['Telangana', 'Hyderabad', 'Telugu'], ['Karnataka', 'Bangalore', 'Kannada']], columns=['State', 'Capital', 'Languages'])
df2 = pd.DataFrame([['TN', 'Chennai', 'Tamil'], ['Telangana', 'Hyderabad', 'Telugu'], ['Karnataka', 'Bangalore', 'Kannada']], columns=['State', 'Capital', 'Languages'])

In [25]:
pd.merge(df1,df2, on='State', indicator=True)

       State  Capital_x Languages_x  Capital_y Languages_y _merge
0         TN    Chennai       Tamil    Chennai       Tamil   both
1  Telangana  Hyderabad      Telugu  Hyderabad      Telugu   both
2  Karnataka  Bangalore     Kannada  Bangalore     Kannada   both

In [26]:
pd.merge(df1,df2, how="left", on='State', indicator=True, suffixes=['_1', '_2'])

       State  Capital_1 Languages_1  Capital_2 Languages_2 _merge
0         TN    Chennai       Tamil    Chennai       Tamil   both
1  Telangana  Hyderabad      Telugu  Hyderabad      Telugu   both
2  Karnataka  Bangalore     Kannada  Bangalore     Kannada   both