# 06 Working with Interpolate Method

In [46]:
import pandas as pd
import numpy as np

In [69]:
n = np.nan
day = [
    '1/1/2017',
    '1/5/2017',
    '1/6/2017',
    '1/7/2017',
    '1/8/2017',
    '1/9/2017',
    '1/10/2017',
    '1/11/2017',
    '1/12/2017',
    '1/13/2017',
    '1/14/2017',
    '1/15/2017',
    '1/16/2017',
    '1/17/2017',
    '1/18/2017',
    '1/19/2017',
    '1/20/2017',
    # '1/21/2017',
    # '1/22/2017',
    # '1/23/2017',
    # '1/24/2017',
    # '1/25/2017',
    # '1/26/2017',
    # '1/27/2017',
    # '1/28/2017',
    # '1/29/2017',
    # '1/30/2017',
]
temperature = [23, n, 23, n, 28, n, 23, 28, 27, n, n, 23, 22, 27, n, n, 23]

In [70]:
data = pd.DataFrame({ 'Day': day, 'Temperature': temperature})

In [71]:
data.head()

        Day  Temperature
0  1/1/2017         23.0
1  1/5/2017          NaN
2  1/6/2017         23.0
3  1/7/2017          NaN
4  1/8/2017         28.0

In [72]:
data.dtypes

Day             object
Temperature    float64
dtype: object

In [73]:
data['Day'] = pd.to_datetime(data.Day)

In [74]:
data.dtypes

Day            datetime64[ns]
Temperature           float64
dtype: object

In [75]:
data.set_index(data.Day, inplace=True)

In [76]:
data.drop('Day', axis=1)

            Temperature
Day
2017-01-01         23.0
2017-01-05          NaN
2017-01-06         23.0
2017-01-07          NaN
2017-01-08         28.0
2017-01-09          NaN
2017-01-10         23.0
2017-01-11         28.0
2017-01-12         27.0
2017-01-13          NaN
2017-01-14          NaN
2017-01-15         23.0
2017-01-16         22.0
2017-01-17         27.0
2017-01-18          NaN
2017-01-19          NaN
2017-01-20         23.0

In [77]:
"""
DEPRECATED
data.interpolate(method='cubic')
data.interpolate(method='cubic')
"""
data['Temperature'].interpolate(method='quadratic')

Day
2017-01-01    23.000000
2017-01-05    20.692356
2017-01-06    23.000000
2017-01-07    26.461467
2017-01-08    28.000000
2017-01-09    24.538845
2017-01-10    23.000000
2017-01-11    28.000000
2017-01-12    27.000000
2017-01-13    25.458094
2017-01-14    24.487059
2017-01-15    23.000000
2017-01-16    22.000000
2017-01-17    27.000000
2017-01-18    29.629556
2017-01-19    28.296223
2017-01-20    23.000000
Name: Temperature, dtype: float64

In [78]:
data['Temperature'].interpolate(method='cubic')

Day
2017-01-01    23.000000
2017-01-05    16.921832
2017-01-06    23.000000
2017-01-07    27.467655
2017-01-08    28.000000
2017-01-09    24.152290
2017-01-10    23.000000
2017-01-11    28.000000
2017-01-12    27.000000
2017-01-13    25.318678
2017-01-14    24.371087
2017-01-15    23.000000
2017-01-16    22.000000
2017-01-17    27.000000
2017-01-18    33.689156
2017-01-19    34.783734
2017-01-20    23.000000
Name: Temperature, dtype: float64

In [85]:
data['Temperature'].interpolate(method='time')

Day
2017-01-01    23.000000
2017-01-05    23.000000
2017-01-06    23.000000
2017-01-07    25.500000
2017-01-08    28.000000
2017-01-09    25.500000
2017-01-10    23.000000
2017-01-11    28.000000
2017-01-12    27.000000
2017-01-13    25.666667
2017-01-14    24.333333
2017-01-15    23.000000
2017-01-16    22.000000
2017-01-17    27.000000
2017-01-18    25.666667
2017-01-19    24.333333
2017-01-20    23.000000
Name: Temperature, dtype: float64